* {
    box-sizing: border-box;
}

body,html {
    overflow-y:hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    pointer-events: none;
}
#container {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ddd;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
}

.username-enter{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;

}
#username-input{
    margin-left: 50%;
    margin-right: 50%;
    resize: none;
    border-radius: 3px;
    font-size: 13px;
    border-radius: 15px;
    pointer-events: auto;
}


aside {
    width: 260px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}


aside header {
    padding: 20px 20px;
}

aside input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #5e616a;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    background-size: 40px;
}

aside input::placeholder {
    color: #fff;
}

aside ul {
    padding-left: 0;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
    overflow-y: scroll;
    height: 100vh;
}

aside div {
    padding: 10px 0;
}

aside div:hover {
    background-color: #5e616a;
}
aside div .group{
    display: flex;
    flex-direction: row;
}
h2, h3 {
    margin: 0;
}

aside div img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}

aside div div {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

aside div h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;

}

aside div h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.main{
    display: none;
}

.main header {
    height: 90px;
    padding: 30px 20px 30px 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #b7c1e1;
}

.main header > * {
    display: inline-block;
    vertical-align: top;
}

.main header img:first-child {
    border-radius: 50%;
}

.main header img:last-child {
    width: 24px;
    margin-top: 8px;
}

.main header div {
    margin-left: 10px;
    margin-right: 145px;
}

.main header h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.main header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
}

#chat {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 155px);
    padding-left: 0;
    margin: 0;
    overflow-y: scroll;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #b7c1e1;
}

#chat li {
    list-style-type: none;
    padding: 10px 30px;
}

#chat .notification {
    background-color: rgb(209, 252, 252);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top : 0px;
    width: fit-content;
    color: black;
    min-width: 50%;
    max-width: 80%;
    max-height: 123px;
    height: 2em;

    border-radius: 15px;
    font-size: 0.9em;
    line-height: 2em;
}
#chat h2, #chat h3 {
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #3b3e49;
}
#chat h2 {
    color: #000000;
}
#chat .entete {
    margin-bottom: 5px;
}

#chat .message {
    padding: 10px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    text-overflow: clip;
    overflow-wrap: break-word;
}

#chat .message .time{
    font-size: 10px;
    color: #000000;
    font-weight: normal;
}

#chat .me {
    text-align: right;
}

#chat .you .message {
    background-color: #b7377b;
    border-radius: 5px 15px 15px 15px
}

#chat .me .message {
    background-color: #d84192;
    border-radius: 15px 5px 15px 15px
}

.main .emoji-table {
    position: absolute;
    transform: translateY(-100%);
    background-color: #d84192;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    overflow-y: scroll;
}

.main .footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    height: 65px;
    padding: 10px 10px 10px 10px;
    background-color: #b7c1e1;
    border-top: 2px solid #fff;
}

.main .footer .textarea {
    resize: none;
    background: #e4eaee;
    padding: 6px;
    width: 100%;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 13px;
    border-radius: 15px;
}

.main .footer .textarea::placeholder {
    color: #ddd;
    border-radius: 15px;
    resize: none;
}

.main .footer .button {
    background-color: #d84192;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 6px;
    vertical-align: top;
    display: inline-block;

}
.utils-button {
    background-color: transparent;
    border-color: #d84192;
    border-radius: 5px;
}

.utils-button img{

    width: 25px;
    height: 25px;
}

#emoji-button{
    background-color: transparent;
}

.main .footer .button:hover {

    background-color: #002ead;
    transition: 0.7s;

}

.main .footer .button::jc-center {
    justify-content: center;
}

.util-content {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    color: #d84192;
}

#utils-button.button:hover + .util-content {
    display: block;
}
